$primary-color: blue;
$font-size: 18px;
$hover-background: #ff0000;

body {
  color: $primary-color;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 100px;
  }

  li {
    padding: 10px;
    font-size: $font-size;
  }

  a:hover {
    background-color: $hover-background;
  }
}

.item1 {
  background-color: #e7e7e7;
}

.item4 {
  @extend .item1;
  border: 1px solid;
  border-color: #333333;
}

.container {
  .container2 {
    width: 100%;
  }
  width: 100% / 3;
}