@import "color";
$backgroundcolor-dark: #000000;
$color-white: white;
$hover-yellow: yellow;
$noHover: "true";

@mixin navbar-theme ($theme: "light") {
  @if $theme =="light" {

    a {
      color: black;
      text-decoration: none;
    }

    @if $noHover == "false" {
    a:hover {
      background-color: $hover-background;
    }
    }

    .item1 {
      background-color: #e7e7e7;
    }

    .item4 {
      @extend .item1;
      border: 1px solid;
      border-color: #333333;
    }
  }

  @else if $theme =="dark" {
    background-color: $backgroundcolor-dark;

    a {
      color: $color-white;
      text-decoration: none;
    } 
    
    @if $noHover == "false" {
    a:hover {
      background-color: $hover-yellow;
    }
  }
  }
}

$font-size: 18px;
$hover-background: #ff0000;


nav {
  @include navbar-theme("dark");

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 100px;
  }

  li {
    padding: 10px;
    font-size: $font-size;
  }

}

.container {
  .container2 {
    width: 100%;
  }

  width: 100% / 3;
}

$base-font-size: 16px;

@function em($px, $base: $base-font-size) {
  @return ($px / $base) * 1em;
}

.item2 {
  font-size: em(24px);
}

$bgcolors: lightgrey, darkgrey;

@for $i from 1 through 2 {
  .container {
    background-color: nth($bgcolors, 1);
  }
  .container2 {
    background-color: nth($bgcolors, 2);
  }
}

$colors: blue, red, green, yellow;

@each $color in $colors {
  .color-#{$color} {
    color: $color;
  }
}